
@model UserComments


@{
    ViewData["Title"] = "Comments";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/logo.png" type="image/png">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>
<body >


 
    <nav class="navbar  " id="barra">
        <form class="container-fluid justify-content-start text-center">

        <div class="col-sm-3">
        <a class="navbar-brand" href="#"  >
          <button   class="btn btn-outline-white me-2" type="button"  id="menu"  ><img src="img/editar.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top" ></button>
        </a>
        </div>

        <div class="col-sm-3">
          <a class="navbar-brand" href="#"  >
            <button class="btn btn-outline-white me-2" type="button"  id="menu" ><img src="img/invitados.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
          </a></div>

          <div class="col-sm-3">
            <a class="navbar-brand" href="#"   >
                <button class="btn btn-outline-white me-2" type="button"  id="menu"  ><img src="img/fot_video.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
            </a></div>
   
          <div class="col-sm-3">
          <a class="navbar-brand" href="comments.html"  >
            <button class="btn btn-outline-white me-2" type="button"  id="menu" ><img src="img/mensaje.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
          </a></div>
      
        </form>
      </nav>


     

       
        
      <nav class="navbar navbar-light bg-light"style="padding:20px;">
        <div class="container-fluid justify-content-md-end ">
          <button id="logout" >LOG OUT</button>
        </div>
      </nav>


      <h4  class="text-center" style="padding: 30px; margin-top: 10px;">Puedes dejar tu comentario sobre el evento o mensaje para el anfitrion aqui</h4>
      
      
      <div class="container-fluid"  id="comentario" >
        <div class="input-group">
            <img src="img/logo.png" height="60px" width="60px" style="margin-right:20px ;" > <!--imagen de usuario-->

            <textarea class="form-control" aria-label="With textarea" placeholder="Deja tu comentario..."   type="text" value="@UserComments?.TextComment" readonly ></textarea> 
            <button id="btn_enviar"><img src="img/enviar.png" height="25px" width="25px"  > </button>
          </div>
        <div style="margin-top: 10px;">
        <p class="justify-content-lg-center"   style="font-weight: bold;"   type="text" value="@UserComments?.UserEmail" readonly>Pepito </p> <!--nombre de usuario-->
        </div>
        </div>



        
        <div class="container-fluid"  id="comentario">
            <div class="input-group">
                <img src="img/logo.png" height="60px" width="60px" style="margin-right:20px ;" > <!--imagen de usuario-->
    
                <p  style="margin-left: 10px;" type="text" value="@UserComments?.TextComment" readonly>afsfasfafs</p> <!--comentario de usuarios--> 
              </div>
           <div style="margin-top: 10px;">
            <p class="justify-content-lg-center"   style="font-weight: bold;   ">Martin </p> <!--nombre de usuario-->
            <small class="justify-content-lg-center text-muted"  type="text" value="@UserComments?.PublishDate" readonly>14/11/23 </small> <!--fecha de comentario-->
            </div>
            </div>



</body>
</html>
