@model List<TuNamespace.Producto>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Event</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/png">
</head>
<body>

    <nav class="navbar  " id="barra">
        <form class="container-fluid justify-content-start text-center">

        <div class="col-sm-3">
        <a class="navbar-brand" href="#"  >
          <button   class="btn btn-outline-white me-2" type="button"  id="menu"  ><img src="img/editar.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top" ></button>
        </a>
        </div>

        <div class="col-sm-3">
          <a class="navbar-brand" href="guests.html"  >
            <button class="btn btn-outline-white me-2" type="button"  id="menu" ><img src="img/invitados.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
          </a></div>

          <div class="col-sm-3">
            <a class="navbar-brand" href="fotosyvideos.html"   >
                <button class="btn btn-outline-white me-2" type="button"  id="menu"  ><img src="img/fot_video.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
            </a></div>
   
          <div class="col-sm-3">
          <a class="navbar-brand" href="#"  >
            <button class="btn btn-outline-white me-2" type="button"  id="menu" ><img src="img/mensaje.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
          </a></div>
      
        </form>
      </nav>


     

       
        
        <div class="collapse" id="navbarToggleExternalContent" >
          <div class="bg-light p-4 " >
            <h5 class=" h4">Presupuesto</h5>
            <a href="gastosfacturas.html" id="menulink"><span class="text-muted">Gastos y facturas</span></a>
          </br>
          <a href="" id="menulink"><span class="text-muted">Calculadora</span></a>
          </div>


          
          <div class="bg-light p-4">
            <h5 class=" h4">Listas</h5>
           <a href="listas.html" id="menulink"><span class="text-muted" >Compras</span></a> 
          </br>
          <a href="listas.html" id="menulink"><span class="text-muted">Tareas</span></a>
          </div>

          <div class="bg-light p-4">
            <a href="mesas.html" id="menulink"><h5 class=" h4">Mesas</h5></a>
          </div>

        </div>
        <nav class="navbar navbar-light bg-light"style="padding:20px;">
          <div class="container-fluid">
            <button  class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ></span>         <!--img src="img/logo.png" width="40" height="40"-->
            </button>  
            <button id="logout">LOG OUT</button>
          </div>
        </nav>



        <h2 class="text-center" style="margin-top: 40px;">Invitados</h2>
        
    <table border="1">
        <tr>
            <th>Nombre</th>
        </tr>
        @foreach (var invitado in Model)
        {
            <tr>
                <td>@invitado.UserEmail</td>
            </tr>
        }
    </table>



    </body>

    </html>
